/*!CK:2567411620!*//*1456728462,*/

._4o-e a{z-index:1}._4o-d,._4o-e a,._4bm_{position:relative;word-break:break-word}._4o-g:hover{background-color:#f6f7f8;text-decoration:none}html ._4o-d ._4o-f{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:0}._4bm_{top:2px}
.sp_Ud4bP-sV6lB{background-image:url(/rsrc.php/v2/yX/r/H6kOFHpbKJU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Ud4bP-sV6lB.sx_81d064{background-position:0 0}.sp_Ud4bP-sV6lB.sx_5548da{width:12px;height:12px;background-position:0 -17px}

#bootloader_0WCWq{height:42px;}.bootloader_0WCWq{display:block!important;}